.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: red;
}
.col-4 {
  flex-basis: 20%;
  padding: 10px;
  min-width: 100px;
  margin-bottom: 50px;
  background-color: aqua;
}

.col-4 img {
  width: 100%;
}

.wrap {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 200px;
  background-color: blue;
}

.wrap img {
  width: 100%;
}
